@page
@model Skrot_och_korn_Razor_Pages.Pages.ProductModel
@{
}


<h1>Producter</h1>


<div class="productpage__container">

    <img src="Images/Grävskopa.jpg" alt="Grävskopa" width="200">
    <img src="Images/Lyftkran.jpg" alt="Lyftkran" width="200">
    <img src="Images/Lastbil.jpg" alt="Lastbil" width="200">

    <p>Grävskopa</p>
    <p>Lyftkran</p>
    <p>Lastbil</p>

    <p>200 000 kr</p>
    <p>500 000 kr</p>
    <p>700 000 kr</p>

    <p>utan moms</p>
    <p>utan moms</p>
    <p>utan moms</p>

    <p>175 000 kr</p>
    <p>460 000 kr</p>
    <p>650 000 kr</p>

    <h3>Hästkrafter</h3>
    <h3>Hästkrafter</h3>
    <h3>Hästkrafter</h3>

    <p>100</p>
    <p>300</p>
    <p>400</p>

    <h3>Lastvikt</h3>
    <h3>Lastvikt</h3>
    <h3>Lastvikt</h3>

    <p>3 ton</p>
    <p>50 ton</p>
    <p>15 ton</p>


    <form method="post">

        <label asp-for="@Model.Vehicle1">Köp grävskopa</label>
        <input asp-for="@Model.Vehicle1">

        <label asp-for="@Model.Vehicle2">Köp lyftkran</label>
        <input asp-for="@Model.Vehicle2">

        <label asp-for="@Model.Vehicle3">köp lastbil</label>
        <input asp-for="@Model.Vehicle3">

        <input type="submit" />

    </form>
    <h2>Priset av valda fordon @Model.Price kr</h2>

</div>